/*==================================================

	Template Name: KidCenter Educational Template
	Description: KidCenter - Responsive html5 Education template.
	Version: 1.0
	Last change: 18/09/16
	Author : @2GoodTemplate

/**
* Table of Contents :
* 1.0 - IMPORT CSS
* 2.0 - Default CSS
* 3.0 - Header CSS
* 4.0 - Logo CSS
* 5.0 - Top Contact Wrap CSS
* 6.0 - Menu and ui element Wrap CSS
* 7.0 - Main Navigation Wrap CSS
* 8.0 - Search Bar CSS
* 9.0 - Header Plus Icon CSS
* 10.0 - Header Style 03 Wrap CSS
* 11.0 - POPUP Menu CSS
* 12.0 - Banner CSS
* 13.0 - Banner 02 CSS
* 14.0 - Banner Services CSS
* 15.0 - Offer Wrap CSS
* 16.0 - What We Offer 02 Wrap CSS
* 17.0 - Facts and figure Wrap CSS
* 18.0 - Popular Courses CSS
* 19.0 - Popular Courses 02 CSS
* 20.0 - Heading CSS
* 21.0 - Our Gallery Wrap CSS
* 22.0 - Meet Our Best Teacher Wrap CSS
* 23.0 - Meet Our Best Teacher 02 Wrap CSS
* 24.0 - Testimonial Wrap CSS
* 25.0 - Testimonial 02 Wrap CSS
* 26.0 - Latest News CSS
* 27.0 - Latest Blog CSS
* 28.0 - About Us Page CSS
* 29.0 - Our Clients Wrap Start
* 30.0 - Progress Bar Wrap Start
* 31.0 - Comming Soon Wrap Style
* 32.0 - 404 Page Wrap Style
* 33.0 - Contact Us Page Wrap Style
* 34.0 - Pagination Wrap Css Start
* 35.0 - Course Listing Wrap Css Start
* 36.0 - Course Detail Wrap Css Start
* 37.0 - Comment Wrap Css Start
* 38.0 - Post Comment Wrap Css Start
* 39.0 - Event List Wrap Css Start
* 40.0 - Event Detail Wrap Css Start
* 41.0 - Event Detail Map Wrap Css Start
* 42.0 - News Detail Wrap Css Start
* 43.0 - Team Detail Wrap Css Start
* 44.0 - Team Detail Contact Wrap Css Start
* 45.0 - Filterable Gallery Page Css Start
* 46.0 - Sub Banner CSS
* 47.0 - Back to Top Style

[Color codes]

Background:	#ffffff (white)
Content:	#666666 (Gray)
Header h1:	#191919 (dark black)
Header h2:	#191919 (dark black)
Footer:		#fff (White)

a (standard):	#000 (dark black)
a (visited):	#333 (blue)
a (active):	#33 (blue)

[Typography]
  
Body copy:		14px/ 'Source Sans Pro', sans-serif;
Headers:		'Roboto Slab', serif;
Input, textarea:	'Roboto Slab', serif;
Sidebar heading:	'Roboto Slab', serif;


/*-------------------------------------------------------------------*/

/*
	  ==============================================================
		   IMPORT CSS
	  ==============================================================
*/
	@import url('css/bootstrap.min.css');
	@import url('css/owl.carousel.css');
	@import url('css/font-awesome.css');
	@import url('css/widget.css');
	@import url('css/typography.css');
	@import url('css/shortcodes.css');
	@import url('css/prettyPhoto.css');
	@import url('css/prettyPhoto.css');
	@import url('css/svg-style.css');
/*
	  ==============================================================
		   Default CSS
	  ==============================================================
*/
.gt_wrapper,
header,
.gt_main_content_wrap,
section,
footer,
.default_width{
	float: left;
	width: 100%;
	position: relative;
}
.gt_wrapper{
	overflow: hidden;
}
section{
	padding: 70px 0px;
}
.no_margin{
	margin: 0px;
}
.no_padding{
	padding: 0px;
}
.mb{
	margin-bottom: 30px;
}
/*
	  ==============================================================
		   Header CSS
	  ==============================================================
*/
.gt-top-bar{
	margin-top:25px;
	margin-bottom:25px;
	z-index: 10;
}
/*
	  ==============================================================
		   Logo CSS
	  ==============================================================
*/
.gt-logo{
	float:left;
	width:auto;
}
/*
	  ==============================================================
		   Top Contact Wrap CSS
	  ==============================================================
*/
.gt-top-contact{
	float: right;
    width: auto;
}
.gt-top-contact ul {
	float:left;
	width:100%;
}
.gt-top-contact ul li{
	display: inline-block;
    color: #4b4b4b;
    font-size: 13px;
    padding: 0px 10px;
    color: #666;
}
.gt-top-contact ul li:first-child{
	padding-left: 0px;
}
.gt-top-contact ul li i{
	height: 26px;
    color: white;
    width: 26px;
    line-height: 26px;
    text-align: center;
	position:relative;
	margin-right:10px;
}
.gt-top-contact ul li a{
	display: inline-block;
	color: #666;
}
.gt-top-contact ul li i::after{
	content: "";
    position: absolute;
    top: 0px;
    bottom: -4px;
    right: -4px;
    left: 0px;
    border: 1px solid #2B5770;
}
/*
	  ==============================================================
		   Menu and ui element Wrap CSS
	  ==============================================================
*/
.gt-main-menu{
	float:left;
	width:100%;
	height: 50px;
	margin-bottom: -22px;
    position: relative;
    z-index: 10;
}
.gt-main-menu:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -28px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 28px 28px;
}
.gt-main-menu:after{
	content: "";
	position: absolute;
	top: 0px;
	right: -28px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 28px 0 0 28px;
}
/*
	  ==============================================================
		   Main Navigation Wrap CSS
	  ==============================================================
*/
.menu{
	float: left;
	width: auto;
}
.menu ul li{
	float: left;
    display: inline-block;
	position:relative; 
}
.menu ul li.active:before,
.menu ul li:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background-color: #fff;
}
.menu ul li.active:before,
.menu ul li:hover:before{
	height: 100%;
}
.menu > ul > li > a{
	color: #fff;
    font-size: 13px;
    display: block;
    position: relative;
    padding: 16px 28px 16px;
    z-index: 99;
    font-family: 'Roboto Slab', serif;
    border-left: 1px solid #eef8e4;
    text-transform: uppercase;
}
.menu ul > li:first-child a{
	border-left: 0px;
}
/*2nd ul*/
.menu ul ul{
	width: 250px;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 100;
	transform-origin:top center;
	transform:rotateX(90deg);
	-webkit-transform:rotateX(90deg);
	-moz-transform:rotateX(90deg);
	opacity: 0;
	visibility: hidden;
	transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
}
.menu ul ul li{
	width: 100%;
}
.menu ul ul li a{
	color: #fff;
    font-size: 13px;
    display: block;
    position: relative;
    padding: 16px 28px;
    z-index: 99;
    font-family: 'Roboto Slab', serif;
}
/*Hover*/
.menu ul > li:hover > ul{
	transform:rotateX(0deg);
	-moz-transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
/*3rd ul*/
.menu ul ul ul{
	left: 100%;
	top: 0px;
}
/*Responsive Menu*/
.menu .navbar-collapse{padding: 0px;}
.menu .navbar-btn{ display: none;}
.menu .navbar-btn{
	border: 1px solid #fff;
    border-radius: 5px;
    padding: 9px 10px 5px;
    cursor: pointer;
}
.menu .navbar-btn span{display:block;width: 25px;height: 3px;background-color: #fff;margin-bottom: 4px;}
/*
	  ==============================================================
		   Search Bar CSS
	  ==============================================================
*/
.top_search_wrap{
	float:right;
	width:auto;
	color: white;
	position:relative;
	cursor: pointer;
}
.top_search_wrap i{
	padding: 18px 20px;
	position: relative;
	z-index: 10;
}
.top_search_wrap i:hover{
	background-color: #fff;
}
.top_search_wrap:after{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	border-right:1px solid #eef8e4;	
}
.search-wrapper-area {
	position: absolute;
	right: 0px;
	bottom: -60px;
	background: #333;
	padding: 10px;
	display: none;
}
.search-area {
	position: relative;
}
.search-area input[type="text"] {
	float: left;
	height: 40px;
	padding: 5px 45px 5px 15px;
	background-color: #333;
	font-weight: 600;
}
.search-area input[type="submit"] {
	float: left;
	position: absolute;
	right: 0px;
	padding: 10px;
	border: none;
	background: #ccc;
	color: #fff;
	font-weight: 600;
}
.search-area input[type="submit"]:hover {
	background-color: #fff;
}
/*
	  ==============================================================
		   Header Plus Icon CSS
	  ==============================================================
*/
.gt-plus{
	float:right;
	width:auto;
	padding: 16px 20px 13px;
	position: relative;
	color: #fff;
	cursor: pointer;
}
.gt-plus i{
	font-size: 20px;
}
.gt-plus:hover{
	background-color: #fff;
}
/*
	  ==============================================================
		   Header Style 03 Wrap CSS
	  ==============================================================
*/
.gt_top3_menu{
	background-color: #fff;
}
.gt_top3_wrap{
	background-color: #333333; 
}
.gt_top3_wrap:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-image: url(images/top-wrap-bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: 100%;
	z-index: 5;
}
.gt_top3_scl_icon{
	float: left;
	width: auto;
	position: relative;
	padding: 0px 10px;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
}
ul.gt_hdr3_scl_icon{
	float: left;
	width: 100%;
}
ul.gt_hdr3_scl_icon li{
	position: relative;
	display: inline-block;
}
ul.gt_hdr3_scl_icon li a{
	display: block;
	color: #fff;
	padding: 12px 10px;
}
.gt_hdr_3_ui_element{
	float: right;
	width: auto;
}
.gt_hdr_3_ui_element ul{
	float: left;
	width: 100%;
}
.gt_hdr_3_ui_element > ul > li{
	display: inline-block;
	position: relative;
	border-right: 1px solid #484848;
	color: #fff;
	padding: 12px 20px;
}
.gt_hdr_3_ui_element ul li i{
	margin-right: 10px;
}
.gt_hdr_3_ui_element > ul > li > a{
	display: inline-block;
	color: #fff;
}
.gt_hdr3_search{
	float: right;
	padding: 10px 10px 11px;
	position: relative;
	width: 240px;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
}
.gt_hdr3_search form{
	width: 100%;
	float: left;
}
.gt_hdr3_search input[type="search"]{
	background-color: transparent;
	border: 0px;
	width: 100%;
	color: #fff;
}
.gt_hdr3_search input[type="submit"],
.gt_hdr3_search button{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	background-color: transparent;
}
.gt_top3_menu .gt-logo{
	padding: 11px 0px;
}
.gt_hdr3_navigation{
	float: right;
	width: auto;
}
.gt_hdr3_navigation ul li{
	float: left;
    width: auto;
}
.gt_hdr3_navigation ul li{
	float: left;
    display: inline-block;
	position:relative; 
}
.gt_hdr3_navigation ul li:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}
.gt_hdr3_navigation ul li.active:before,
.gt_hdr3_navigation ul li:hover:before{
	height: 100%;
}
.gt_hdr3_navigation > ul > li > a{
	color: #949494;
    display: block;
    position: relative;
    padding: 30px 25px;
    z-index: 99;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.gt_hdr3_navigation ul li.active > a,
.gt_hdr3_navigation ul li:hover > a{
	color: #fff;
}
/*2nd ul*/
.gt_hdr3_navigation ul ul{
	width: 250px;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 100;
	transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	transform:perspective(600px) rotateX(-90deg);
	-webkit-transform:perspective(600px) rotateX(-90deg);
	-moz-transform:perspective(600px) rotateX(-90deg);
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
}
.gt_hdr3_navigation ul ul li{
	width: 100%;
}
.gt_hdr3_navigation ul ul li a{
	color: #949494;
    display: block;
    position: relative;
    padding: 16px 28px;
    z-index: 99;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
}
/*Hover*/
.gt_hdr3_navigation ul > li:hover > ul{
	-moz-transform:perspective(600px) rotateX(0deg);
	-webkit-transform:perspective(600px) rotateX(0deg);
	transform:perspective(600px) rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
/*3rd ul*/
.gt_hdr3_navigation ul ul ul{
	right: 100%;
	top: 0px;
	left: auto;
}
/*Responsive Menu*/
.gt_hdr3_navigation .navbar-collapse{padding: 0px;width: 100%;}
.gt_hdr3_navigation .navbar-btn{ display: none;}
.gt_hdr3_navigation .navbar-btn{
	border: 1px solid;
    border-radius: 5px;
    padding: 9px 10px 5px;
    cursor: pointer;
}
.gt_hdr3_navigation .navbar-btn span{display:block;width: 25px;height: 3px;margin-bottom: 4px;}
/*
	  ==============================================================
		   POPUP Menu CSS
	  ==============================================================
*/
.gt_popup_wrap{
	position: absolute;
	width: 100%;
	height: 0px;
	background-color: rgba(0,0,0,0.95);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}
.gt_popup_wrap.active{
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 1;
	visibility: visible;
}
.gt_popup_remove{
	position: absolute;
	top: 20px;
	right: 80px;
}
.gt_popup_remove i{
	font-size: 16px;
	cursor: pointer;
}
.gt_popup_menu{
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 80px 0px 0px;
}
.gt_popup_menu ul,
.gt_popup_menu ul li{
	float: left;
	width: 100%;
}
.gt_popup_menu ul li > a{
	display: block;
	color: #fff;
	font-size: 30px;
	padding: 10px 0px;
	font-family: 'Roboto Slab', serif;
	line-height: 24px;
	position: relative;
	z-index: 100;
}
.gt_popup_menu ul ul li a{
	display: block;
	font-size: 14px;
	color: #fff;
}
/*
	  ==============================================================
		   Banner CSS
	  ==============================================================
*/
.gt_banner ul{
	float:left;
	width:100%;	
}
.gt_banner ul li{
	float:left;
	width:100%;
	position:relative	
}
.gt_banner ul li img{
	width:100%;
	height: auto;
}
.banner_text{
	width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -130px 0px 0px -40%;
}
.banner_text h4{
	color: #fff;
	font-size: 50px;
	margin: 0px 0px 5px;
}
.banner_text h3{
	font-size: 65px;
    line-height: 65px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.banner_text h6{
    border-bottom: 3px solid #f1ca16;
	padding-bottom:5px;
	font-size: 22px;
	color: #fff;
}
.banner_text p{
    padding-top: 15px;
    line-height: 20px;
	color: #f5f5f5;
	margin: 0px 0px 20px;
}
.banner_text > a{
	margin-right: 10px;
	font-family: 'Roboto Slab', serif;
}
.banner_text > a:last-of-type{
	margin: 0px;
}
/*Banner Css*/
.banner .bx-wrapper .bx-pager{
	display: none;
}
/*
	  ==============================================================
		   Banner 02 CSS
	  ==============================================================
*/
.swiper-container {
    width: 100%;
    float: left;
    position: relative;
}
.gt_banner_text{
	font-family: 'Courgette', cursive;
	position: absolute;
}
.gt_banner_text h3{
	font-size: 53px;
	color: #737474;
	line-height: 50px;
	margin: 0px 0px 10px;
	font-family: inherit;
}
.gt_banner_text h2{
	font-size: 73px;
	font-weight: 600;
	font-family: inherit;
	line-height: 70px;
	margin: 0px 0px 10px;
}
.gt_banner_text > a{
	margin-right: 10px;
	margin-top: 20px;
	font-family: inherit;
	padding: 9px 30px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #737374;
	color: #757575;
	font-size: 15px;
}
.gt_banner_text > a:last-of-type{
	margin: 0px;
}
/*Slide List*/
.gt_slide_1{
	top: 5%;
	left: 0px;
	width: 100%;
	text-align: center;
}
.gt_slide_2{
	top: 50%;
	left: 0px;
	width: 100%;
	text-align: center;
	margin: -130px 0px 0px;
}
.gt_slide_2 h2{
	color: #f04e23;
}
.gt_slide_2 > a:hover{
	border-color: #f04e23;
	color: #f04e23;
}
.gt_slide_3 h2{
	color: #fc0018;
}
.gt_slide_3{
	top: 50%;
	left: 50%;
	width: 445px;
	text-align: center;
	margin: -130px 0px 0px -550px;
}
.gt_slide_3 > a:hover{
	border-color: #fc0018;
	color: #fc0018;
}
/*Slider CSS*/
.gt_banner .swiper-button-next,
.gt_banner .swiper-button-prev{
	background-image: none;
	width:40px;
    line-height: 40px;
    height: 40px;
    color:#fff;
    text-align: center;
    coursor:pointer;
    margin:auto;
    font-size:25px;
    font-weight: bold;
}
.gt_banner .swiper-button-next:hover,
.gt_banner .swiper-button-prev:hover{
	background: #000;
}
/*
	  ==============================================================
		   Banner Services CSS
	  ==============================================================
*/
.gt_servicer{
	position:relative;
	margin-top:-50px;
	float: left;
	width: 100%;
	z-index: 10;
}
.gt_main_services{
	float: left;
    width: 100%;
    padding: 40px 30px 50px;
    position: relative;
}
.gt_main_services >i{
	font-size:50px;
	margin-bottom: 23px;
	color: #fff;
	display: block;
} 
.gt_main_services h5{
	margin-bottom:18px;
	color: #fff;
	font-weight: 600;
}
.gt_main_services p{
	font-size:14px;
	color: #fff;
}
.gt_main_services a {
	float: right;
    position: absolute;
    right: 16px;
    padding: 14px 15px;
    bottom: -15px;
    color: #ffffff;
	box-shadow: -4px -4px 0px white;
}
.gt_main_services a:hover{
	background-color: #222;
}
.bg_1{
	background:#f64c1e;
}
.bg_2{
	background:#008dd2;
}
.bg_3{
	background:#fc0018;
}
.bg_5{
	background:#efc336;
}
.bg_6{
	background:#896ac3;
}
.gt_main_services:hover{
	background-color: #222;
}
/*
	  ==============================================================
		   Offer Wrap CSS
	  ==============================================================
*/
.gt_offer_wrap{
    padding: 30px 10px;
    margin-top: 30px;
    z-index: 1;
}
.gt_offer_wrap h5{
	font-weight: 600;
	margin: 0px 0px 10px;
	color: #404040;
}
.bg_offer_1{
	border: 2px solid #f64c1e;
}
.bg_offer_2{
	border: 2px solid #008dd2;
}
.bg_offer_3{
	border: 2px solid #fc0018;
}
.bg_offer_4{
	border: 2px solid #2B5770;
}
.gt_offer_wrap.bg_offer_1:hover{
	background-color:#f64c1e;
}
.gt_offer_wrap.bg_offer_2:hover{
	background-color:#008dd2;
}
.gt_offer_wrap.bg_offer_3:hover{
	background-color:#fc0018;
}
.gt_offer_wrap.bg_offer_4:hover{
	background-color:#2B5770;
}
.gt_offer_wrap:hover h5,
.gt_offer_wrap:hover p{
	color:#ffffff;
}
.bg_offer_1:before,
.bg_offer_2:before,
.bg_offer_3:before,
.bg_offer_4:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    right: 0px;
	opacity: 0;
}
.gt_offer_wrap:hover.bg_offer_1:before,
.gt_offer_wrap:hover.bg_offer_2:before,
.gt_offer_wrap:hover.bg_offer_3:before,
.gt_offer_wrap:hover.bg_offer_4:before{
	bottom: -10px;
    right: -10px;
    opacity: 1;
}
.gt_offer_wrap:hover.bg_offer_1:before{
	border:1px solid #f64c1e;
}
.gt_offer_wrap:hover.bg_offer_2:before{
	border:1px solid #008dd2;
}
.gt_offer_wrap:hover.bg_offer_3:before{
	border:1px solid #fc0018;
}
.gt_offer_wrap:hover.bg_offer_4:before{
	border:1px solid #2B5770;
}
.gt_offer_img{
	text-align: center;
	margin: 20px 0px 0px;
}
.gt_offer_img img{
	width: auto;
	height: auto;
}
/*
	  ==============================================================
		   What We Offer 02 Wrap CSS
	  ==============================================================
*/
.gt_wht_offer_bg{
	padding-bottom: 40px;
}
.gt_wht_offer_wrap{
	float: left;
	width: 100%;
	position: relative;
	min-height: 133px;
}
.gt_wht_offer_wrap > i{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	line-height: 60px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	float: left;
	position: relative;
}
.gt_wht_offer_wrap > i:after{
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	border-radius: 100%;
	z-index: -1;
}
.gt_wht_offer_des{
	float: none;
	padding: 0px 0px 0px 85px;
	width: auto;
}
.gt_wht_offer_des h5 > a{
	display: block;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.gt_wht_offer_des span{
	width: 35px;
	height: 1px;
	position: relative;
	display: inline-block;
	margin: 0px 0px 8px;
	border: 0px;
}
/*Color List*/
.gt_wht_offer_wrap > i.bg_1:after{
	border: 2px dotted #f64c1e;
}
.gt_wht_offer_wrap > i.bg_2:after{
	border: 2px dotted #008dd2;
}
.gt_wht_offer_wrap > i.bg_3:after{
	border: 2px dotted #fc0018;
}
.gt_wht_offer_wrap > i.bg_4:after{
	border: 2px dotted;
}
.gt_wht_offer_wrap > i.bg_5:after{
	border: 2px dotted #efc336;
}
.gt_wht_offer_wrap > i.bg_6:after{
	border: 2px dotted #896ac3;
}
.gt_wht_offer_des span.bg_offer_1{
	background-color: #f64c1e;
}
.gt_wht_offer_des span.bg_offer_2{
	background-color: #f64c1e;
}
.gt_wht_offer_des span.bg_offer_3{
	background-color: #f64c1e;
}
.gt_wht_offer_des span.bg_offer_4{
	background-color: #f64c1e;
}
.gt_wht_offer_des span.bg_offer_5{
	background-color: #efc336;
}
.gt_wht_offer_des span.bg_offer_6{
	background-color: #896ac3;
}
/*Hover CSS*/
.gt_wht_offer_wrap:hover i.bg_1:after{background-color:#f64c1e;}
.gt_wht_offer_wrap:hover i.bg_2:after{background-color:#008dd2;}
.gt_wht_offer_wrap:hover i.bg_3:after{background-color:#fc0018;}
.gt_wht_offer_wrap:hover i.bg_5:after{background-color:#efc336;}
.gt_wht_offer_wrap:hover i.bg_6:after{background-color:#896ac3;}
/*
	  ==============================================================
		   Facts and figure Wrap CSS
	  ==============================================================
*/
.fact_figure_bg{
	background-image:url(images/fact_figure_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.fact_figure_bg:before{
	content: "";
	position: absolute;
	top: 0px;
	width:100%;
	height: 100%;
	background-image: url(images/testimonial-overlay.png);
	background-repeat: repeat;
	background-position: center;
	opacity: 0.75;
}
.gt_facts_wrap h2{
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	color: #fff;
	min-width: 145px;
}
.gt_facts_wrap span{
	color: #fff;
	display: inline-block;
	font-size: 16px;
}
.facts_border{
	display: block;
	width: 85px;
	height: 3px;
	margin-top: 17px;
}
.gt_fact_link_wrap{
	margin-top: 30px;
	text-align: center;
}
.gt_fact_link_wrap a{
	margin-left: 20px;
}
.gt_fact_link_wrap a:first-of-type{
	margin-left: 0px;
}
/*
	  ==============================================================
		   Popular Courses CSS
	  ==============================================================
*/
.gt_pop_cour{
	background: #ffffff;
}
.gt_pop_cour figure{
	margin-bottom:20px;
}
.gt_pop_cour figure img{
	width: 100%;
	height: auto;
}
.gt_pop_course_hvr{
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}
.gt_pop_course_hvr > span{
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	display: inline-block;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: auto;
	margin: -30px 0px 0px;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
}
.gt_pop_cour > span,
.gt_course_listing_style > span{
	color: #666666;
    border-left: 2px solid #2B5770;
    padding-left: 20px;
	font-size: 13px;
	margin-bottom: 8px;
	float: left;
	width: 100%;
}
.gt_pop_cour h5 {
	clear: both;
}
.gt_pop_cour h5 > a{
	display: block;
	color:#404040;
	padding-left:20px;
	margin: 0px 0px 10px;
	font-weight: 600;
}
.gt_pop_cour p{
	color: #666666;
	padding-left: 20px;
	padding-right: 20px;
	font-size:13px;
	margin-bottom: 25px;
}
.gt_pop_cour ul{
	border-top: 1px solid #dfdfdf;
	float: left;
	width: 100%;
}
.gt_pop_cour li{
    display: inline-block;
    border-left: 1px solid #dfdfdf;
	position:relative;
	padding: 0px 10px;
	line-height: 24px;
	width: 21%;
	text-align: center;
	float: right;
}
.gt_pop_cour li:first-child{
	border-left: 0px;
	width: 55%;
	text-align: center;
	float: left;
}
.gt_pop_cour li img{
	position:relative;
	margin-top:-25px;
	border-radius: 100%;
}
.gt_pop_cour li a{
	color: #666;
	display: inline-block;
}
.gt_pop_cour li i{
	margin-right: 5px;
}
/*
	  ==============================================================
		   Popular Courses 02 CSS
	  ==============================================================
*/
.gt_course_tab_list,
.gt_course_search_bar{
	margin: 0px 0px 30px;
}
.gt_course_tab_list ul li{
	float: left;
	position: relative;
}
.gt_course_tab_list ul li a{
	display: block;
	color: #666666;
	text-transform: uppercase;
	padding: 10px 25px;
	background-color: #f1f1f1;
}
.gt_course_tab_list ul li a.active,
.gt_course_tab_list ul li:hover a{
	color: #fff;
}
/*Search Form*/
.gt_course_search_bar form{
	width: 100%;
	float: left;
}
.gt_course_search_bar form input[type="search"]{
	width: 100%;
	background-color: #f1f1f1;
	border: 0px;
	height: 42px;
	padding: 8px 95px 8px 15px;
}
.gt_course_search_bar form label{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
}
.gt_course_search_bar form label:before{
	content: "";
	position: absolute;
	top: 14px;
	left: -7px;
	width: 15px;
	height: 15px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.gt_course_search_bar form label input[type="submit"]{
	color: #fff;
	text-transform: uppercase;
	border: 0px;
	height: 42px;
	line-height: 42px;
	padding: 0px 20px;
}
.gt_course_search_bar form label:hover:before,
.gt_course_search_bar form label input[type="submit"]:hover{
	background-color: #000;
}
/*Course List Css*/
.gt_latest_course2_wrap{
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	background-color: #f5f5f5;
}
.gt_latest_course2_wrap:before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 2px;
	z-index: 5;
}
.gt_latest_course2_wrap figure{
	overflow: visible;
}
.gt_latest_course2_wrap figure img{
	width: 100%;
	height: auto;
}
.course_price{
	position: absolute;
	width: 70px;
	height: 70px;
	bottom: -35px;
	right: 15px;
	color: #fff;
	font-size: 24px;
	line-height: 70px;
	background-color: #4d4d4d;
	border-radius: 100%;
	z-index: 5;
	text-align: center;
	overflow: hidden;
}
.course_price:before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	background-color: #444444;
	z-index: -1;
	border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.course_category{
	position: absolute;
	top: 30px;
	right: -10px;
	color: #fff;
	text-transform: capitalize;
	padding: 5px 10px;
}
.course_category:before{
	content: "";
	position: absolute;
	top: -10px;
	right: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 0 10px;
}
.gt_latest_course_des{
	padding: 25px 20px;
}
.gt_latest_course_des h5 > a{
	display: block;
	color: #333333;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.gt_latest_course_des p{
	color: #999999;
	margin: 0px 0px 15px;
}
.gt_latest_course_des p > a{
	display: inline-block;
	color: #4d4d4d;
	margin-left: 10px;
}
.gt_latest_course_author{
	float: left;
	width: 70%;
}
.gt_latest_course_author figure{
	width: 55px;
	float: left;
}
.gt_latest_course_author figure img{
	width: 100%;
	border-radius: 100%;
	height: auto;
}
.course_author_des{
	padding: 0px 0px 0px 70px;
	float: none;
	width: auto;
}
.course_author_des h6{
	font-size: 16px;
	font-weight: 600;
	color: #333333;
	margin:0px 0px 5px;
}
.course_author_des span{
	font-style: italic;
}
.gt_course_apply{
	float: left;
	width: 30%;
	text-align: right;
}
.gt_course_apply > a{
	display: inline-block;
	color: #4d4d4d;
	border: 1px solid #666666;
	padding: 6px 25px;
	text-transform: capitalize;
}
/*Different Color*/
.course_category.bg_1:before{
	border-color: transparent transparent transparent #dc3c10;
}
.course_category.bg_2:before{
	border-color: transparent transparent transparent #00699d;
}
.course_category.bg_5:before{
	border-color: transparent transparent transparent #cda72e;
}
/*Hover Css*/
.gt_latest_course2_wrap:hover{
	box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.1);
}
.gt_latest_course2_wrap:hover:before{
	width: 100%;
}
.gt_latest_course2_wrap:hover .gt_latest_course_des{
	background-color: #fff;
}
.gt_latest_course2_wrap:hover .course_price:before{
	background-color: #75bb2f;
}
/*
	  ==============================================================
		   Heading CSS
	  ==============================================================
*/
.gt_hdg_1{
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	margin: -8px 0px 30px;
}
.gt_hdg_1 h3{
	text-transform: uppercase;
	font-weight: 600;
}
.gt_hdg_1 p{
	margin: 0px;
}
.gt_hdg_1 p > span{
	display: block;
}
.gt_hdg_1 > span{
	display: inline-block;
	width: 85px;
}
.gt_hdg_1.white_hdg h3,
.gt_hdg_1.white_hdg p{
	color: #fff;
}
/*
	  ==============================================================
		   Our Gallery Wrap CSS
	  ==============================================================
*/
.gt_gallery_bg{
	background-color: #f5f5f5;
	padding-bottom: 110px;
}
.gt_gallery_bg:before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 200px;
}
.gt_gallery_slider,
.gt_gallery_wrap{
	float: left;
	width: 100%;
	position: relative;
}
.gt_gallery_wrap img{
	width:100%;
	height: auto;
	z-index: 100;
}
/*Carousel Css*/
.gt_gallery_slider .owl-stage-outer{
	padding: 40px 0px;
	margin: 0px 0px 30px;
}
.gt_gallery_slider .owl-item{
	z-index: -1;
}
.gt_gallery_slider .owl-item.center{
	z-index: 100;
}
.gt_gallery_slider .owl-item.center .gt_gallery_wrap img{
	transform:scale(1.1,1.05);
	-webkit-transform:scale(1.1,1.05);
	-moz-transform:scale(1.1,1.05);
}
.gt_gallery_slider .owl-item.center .gt_gallery_wrap img{
	box-shadow: 0px 10px 30px 12px rgba(0,0,0,0.09);
}
.gt_gallery_slider .owl-controls .owl-nav div{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	right: 0px;
	margin: auto;
	border: 1px solid #fff;
	text-align: center;
	line-height: 38px;
	color: #fff;
	font-size: 18px;
}
.gt_gallery_slider .owl-controls .owl-nav div.owl-prev{
	left: -50px;
}
.gt_gallery_slider .owl-controls .owl-nav div.owl-next{
	right: -50px;
}
.gt_gallery_slider .owl-controls .owl-nav div.owl-prev:before{
	/*content: "";
	position: absolute;
	bottom: 0px;
	left: 40px;
	right: -50px;
	width: auto;
	height: auto;
	border-top: 3px dotted #fff;*/
}
.gt_gallery_slider .owl-controls .owl-nav div:hover{
	background-color: #222;
	border-color: #222;
}
/*
	  ==============================================================
		   Meet Our Best Teacher Wrap CSS
	  ==============================================================
*/
.gt_bst_teacher{
	background-color: #fff;
	overflow: hidden;
}
.gt_bst_teacher figure img{
	width: 100%;
	height: auto;
}
.gt_bst_teachr_des{
	background-color: #f4f4f4;
	padding: 25px 0px;
	text-align: center;
}
.gt_bst_teachr_des span{
	display: block;
	color: #666666;
	margin: 0px 0px 5px;
}
.gt_bst_teachr_des h5{
	color: #404040;
	text-transform: capitalize;
}
.gt_teachr_des_hover{
	background-color: #191919;
	padding: 25px 0px;
	text-align: center;
	position: absolute;
	bottom: -100px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}
.gt_teachr_des_hover span{
	display: block;
	color: #ffffff;
	margin: 0px 0px 5px;
}
.gt_teachr_des_hover h5{
	color: #ffffff;
	text-transform: capitalize;
	margin: 0px 0px 10px;
}
.gt_teachr_des_hover ul{
	float: left;
	width: 100%;
}
.gt_teachr_des_hover ul li{
	position: relative;
	display: inline-block;
	margin: 0px 0px 0px 3px;
}
.gt_teachr_des_hover ul li:first-child{
	margin-left: 0px;
}
.gt_teachr_des_hover ul li a{
	display: block;
	width: 33px;
	height: 33px;
	background-color: #1e1e1e;
	color: #fff;
	line-height: 33px;
	text-align: center;
}
.gt_teachr_des_hover ul li:hover a{
	color: #fff;
}
/*Hover Css*/
.gt_bst_teacher:hover .gt_teachr_des_hover{
	bottom: 0px;
	opacity: 1;
	visibility: visible;
}
/*
	  ==============================================================
		   Meet Our Best Teacher 02 Wrap CSS
	  ==============================================================
*/
.fb_bg{
	background-color: #3b82ea;
}
.twitter_bg{
	background-color: #43b9f6;
}
.gplus_bg{
	background-color: #de5145;
}
.gt_team2_wrap{
	float: left;
	width: 100%;
	position: relative;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}
.gt_team2_wrap figure{
	background-color: #f4f4f4;
	text-align: center;
	overflow: visible;
}
.gt_team2_wrap figure:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
}
.gt_team2_wrap figure img{
	display: inline-block;
}
.gt_team_scl_icon{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.gt_team_scl_icon ul{
	position: absolute;
	bottom: -8px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
}
.gt_team_scl_icon ul > li{
	display: inline-block;
	position: relative;
	z-index: 10;
	margin: 0px 0px 0px 8px;
}
.gt_team_scl_icon ul > li:first-child{
	margin-left: 0px;
}
.gt_team_scl_icon ul > li > a,
.gt_team_scl_icon a.team_share{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	position: relative;
	font-size: 16px;
}
.gt_team_scl_icon ul li:before,
.gt_team_scl_icon a.team_share:before{
	content: "";
	position: absolute;
	right: -8px;
	bottom: 0px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0 0;
}
.gt_team_scl_icon ul li.fb_bg:before{
	border-color: #2b5fab transparent transparent transparent;
}
.gt_team_scl_icon ul li.twitter_bg:before{
	border-color: #389ccf transparent transparent transparent;
}
.gt_team_scl_icon ul li.gplus_bg:before{
	border-color: #aa3e35 transparent transparent transparent;
}
.gt_team_scl_icon a.team_share:before{
	border-color: #629d27 transparent transparent transparent;
}
.gt_team_scl_icon a.team_share{
	position: absolute;
	bottom: -8px;
	right: 50px;
}
.gt_team2_des_wrap{
	float: left;
	width: 100%;
	position: relative;
	padding: 35px 20px 20px;
}
.gt_team2_des_wrap > span{
	text-transform: capitalize;
	display: block;
	margin: 0px 0px 10px;
	font-weight: 600;
}
.gt_team2_des_wrap h5 > a{
	display: block;
	color: #666666;
	text-transform: capitalize;
	margin: 0px 0px 10px;
	font-weight: 600;
}
.gt_team2_des_wrap ul{
	float: left;
	width: 100%;
}
.gt_team2_des_wrap ul li{
	color: #666666;
	margin: 0px 0px 10px;
}
.gt_team2_des_wrap ul li i{
	margin-right: 10px;
}
/*Hover Css*/
.gt_team2_wrap:hover{
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
}
.gt_team2_wrap:hover .gt_team_scl_icon a.team_share{
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
}
/*
	  ==============================================================
		   Testimonial Wrap CSS
	  ==============================================================
*/
.gt_testimonial_bg{
	background-image: url(images/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 65px;
}
.gt_testimonial_bg:before{
	content: "";
	position: absolute;
	top: 0px;
	width:100%;
	height: 100%;
	background-image: url(images/testimonial-overlay.png);
	background-repeat: repeat;
	background-position: center;
	opacity: 1;
}
.gt_testimonial_slider .owl-stage-outer{
	margin: 0px 0px 30px;
}
.gt_testimonial_slider,
.gt_testimonial_wrap{
	float:left;
	width:100%;
	position:relative;
}
.gt_testimonial_wrap{
	border:3px solid;
	padding:50px;
	margin:0px 0px 50px;
	background-color: #fff;	
}
.gt_testimonial_wrap:before{
	content:"";
	position:absolute;
	bottom:-40px;
	left:50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
}
.gt_testimonial_wrap p{
	position:relative;	
}
.gt_testimonial_wrap p:before{
	content:"\f10d";
	font-family:fontawesome;
	position:absolute;
	font-size:15px;
	color:#999999;
	top:-35px;
	left:0px;	
}
.gt_testimonial_wrap p:after{
	bottom: -30px;
    color: #999999;
    content: "\f10e";
    font-family: fontawesome;
    font-size: 15px;
    left: auto;
    margin: auto;
    position: absolute;
    right:auto;
    text-align: center;	
}
.gt_testimonial_img{
	float:left;
	width:100%;
	position:relative;	
}
.gt_testimonial_img figure{
	width:80px;
	float:left;	
}
.gt_testimonial_img figure img{
	width:100%;
	height:auto;
	/*border-radius:100%;*/
	border:3px solid #f3f3f3;	
}
.gt_testimonial_des{
	float:none;
	width:auto;
	padding:30px 0px 0px 100px;	
}
.gt_testimonial_des h5 > a{
	display:block;
	font-weight:600;
	text-transform:uppercase;
	margin:0px 0px 5px;
	color: #fff;
}
.gt_testimonial_des span{
	display:block;
	text-transform:capitalize;
	font-weight:600;
	color:#999999;	
}
/*Hover Css*/
.gt_testimonial_slider .owl-item .item:hover .gt_testimonial_wrap p,
.gt_testimonial_slider .owl-item .item:hover .gt_testimonial_wrap p:before,
.gt_testimonial_slider .owl-item .item:hover .gt_testimonial_wrap p:after{
	color: #fff;
}
/*Carousel Style*/
.gt_testimonial_slider .owl-item .item{
	margin-left:30px;	
}
.gt_testimonial_slider .owl-controls .owl-nav div{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	right: 0px;
	margin: auto;
	border: 1px solid #fff;
	text-align: center;
	line-height: 38px;
	color: #fff;
	font-size: 18px;
}
.gt_testimonial_slider .owl-controls .owl-nav div.owl-prev{
	left: -90px;
}
.gt_testimonial_slider .owl-controls .owl-nav div.owl-next{
	right: -90px;
}
/*
	  ==============================================================
		   Testimonial 02 Wrap CSS
	  ==============================================================
*/
.gt_testimonial2_bg{
	background-color: #f9f9f9;
}
.gt_testi2_wrap{
	background-color: #fff;
}
.gt_testimonial2_slider,
.gt_testi2_wrap,
.gt_testi2_detail{
	float: left;
	width: 100%;
	position: relative;
}
.gt_testi2_wrap p{
	color: #999999;
	padding: 30px 30px 20px;
	position: relative;
	z-index: 5;
}
.gt_testi2_wrap p:before{
	content: "\f10d";
	position: absolute;
	font-family: fontawesome;
	top: 30px;
	left: 20px;
	width: auto;
	height: auto;
	color: #ebebeb;
	font-size: 45px;
	z-index: -1;
}
.gt_testi2_detail{
	border-top: 1px solid #ebebeb;
	padding: 10px 20px;
}
.gt_testi2_name{
	width: 70%;
	float: left;
	padding: 25px 0px 0px;
}
.gt_testi2_name h6{
	color: #333333;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0px 0px 5px;
}
.gt_testi2_name span{
	text-transform: capitalize;
}
.gt_testi2_detail figure{
	width: 30%;
	text-align: center;
}
.gt_testi2_detail figure img{
	display: inline-block;
	border-radius: 100%;
}
/*Slider Css*/
.gt_testimonial2_slider .item{
	margin: 0px 10px;
}
.gt_testimonial2_slider .owl-stage-outer{
	margin: 0px 0px 30px;
}
.gt_testimonial2_slider .owl-nav{
	display: none;
}
.gt_testimonial2_slider .owl-dots{
	width: 100%;
	text-align: center;
}
.gt_testimonial2_slider .owl-dots .owl-dot{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 100%;
	background-color: #fff;
	border: 2px solid #383838;
	margin: 0px 0px 0px 6px;
}
.gt_testimonial2_slider .owl-dots .owl-dot.active{
	border-color: transparent;
}
/*
	  ==============================================================
		   Latest News CSS
	  ==============================================================
*/
.gt_latest_news_wrap img{
	width: 100%;
	height: auto;
}
.gt_news_des_wrap{
	padding: 0px 25px 40px;
	border-bottom: 1px solid #e6e6e6;
}
.gt_news_date{
	float: left;
	width: 105px;
	border: 4px solid;
	color: #333333;
	font-size: 15px;
	text-align: center;
	padding: 40px 10px;
	margin: -40px 0px 0px;
	background-color: #fff;
	font-weight: 600;
}
.gt_news_date span{
	font-size: 50px;
	font-weight: 500;
	display: block;
	line-height: 38px;
	margin-bottom: 10px;
}
.gt_latst_new_des{
	float: none;
	width: auto;
	padding: 20px 0px 0px 120px
}
.gt_latst_new_des h5 a{
	display: block;
	color: #404040;
	font-weight: 500;
	margin: 0px 0px 15px;
}
.gt_latst_new_des ul{
	float: left;
	width: 100%;
	margin: 0px 0px 10px;
}
.gt_latst_new_des ul li{
	position: relative;
	display: inline-block;
	color: #666666;
	padding: 0px 10px;
	font-size: 13px;
}
.gt_latst_new_des ul li:first-child{
	padding-left: 0px;
}
.gt_latst_new_des ul li i{
	margin-right: 5px;
}
.gt_latst_new_des ul li a{
	display: inline-block;
	color: #666666;
	font-weight: 300;
}
.gt_view_more{
	text-align: center;
	margin: 50px 0px 0px;
}
.gt_view_more a{
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid;
	padding: 10px 35px;
	border-radius: 2px;
	font-family: 'Roboto Slab', serif;
}
/*hover css*/
.gt_latest_news_wrap:hover .gt_news_date,
.gt_view_more a:hover{
	color: #fff;
}
/*
	  ==============================================================
		   Latest Blog CSS
	  ==============================================================
*/
.gt_news_bg{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 65px;
}
.gt_news_slider,
.gt_blog_wrap{
	float: left;
	width: 100%;
	position: relative;
}
.gt_blog_wrap{
	border: 1px solid rgba(153,153,153,0.34);
}
.gt_blog_wrap:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 1px solid rgba(153,153,153,0.34);
}
.gt_blog_wrap figure img{
	width: 100%;
	height: auto;
}
.gt_blog_figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	opacity: 0.8;
}
.gt_blog_figcaption ul{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: auto;
	margin: -20px 0px 0px;
	text-align: center;
	z-index: 10;
}
.gt_blog_figcaption ul li{
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 6px;
}
.gt_blog_figcaption ul li:first-child{
	margin-left: 0px;
}
.gt_blog_figcaption ul li a{
	display: block;
	width: 33px;
	height: 33px;
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	line-height: 32px;
}
.gt_blog_des_wrap{
	float: left;
	width: 100%;
	position: relative;
	padding: 20px 15px;
}
.gt_blog_des_wrap ul.gt_blog_meta{
	margin: 0px 0px 10px;
	position: relative;
}
.gt_blog_des_wrap ul.gt_blog_meta:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -15px;
	width: 2px;
	height: 50px;
	background-color: #a9a9a9;
}
ul.gt_blog_meta{
	float: left;
	width: 100%;
}
ul.gt_blog_meta li{
	position: relative;
	display: inline-block;
	color: #999999;
	margin:0px 5px;
}
ul.gt_blog_meta li:first-child{
	margin-left: 0px;
}
ul.gt_blog_meta li i{
	margin-right: 8px;
}
.gt_blog_des_wrap h5 > a{
	display: block;
	font-weight: bold;
	margin: 0px 0px 10px;
}
.gt_blog_des_wrap p{
	color: #999999;
}
.gt_blog_des_wrap > a{
	display: block;
	color: #666666;
	font-family: 'Roboto Slab', serif;
}
.gt_blog_des_wrap > a i{
	margin-left: 8px;
}
/*Hover Css*/
.gt_blog_wrap:hover:before{
	border: 2px solid;
}
.gt_blog_wrap:hover ul.gt_blog_meta:before{
	opacity: 0;
}
/*Slider Css*/
.gt_news_slider .item{
	margin: 0px 10px;
}
.gt_news_slider .owl-stage-outer{
	margin: 0px 0px 30px;
}
.gt_news_slider .owl-nav{
	display: none;
}
.gt_news_slider .owl-dots{
	width: 100%;
	text-align: center;
}
.gt_news_slider .owl-dots .owl-dot{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 100%;
	background-color: #000;
	border: 2px solid #383838;
	margin: 0px 0px 0px 6px;
}
.gt_news_slider .owl-dots .owl-dot.active{
	border-color: transparent;
}
/*
	  ==============================================================
		  About Us Page CSS
	  ==============================================================
*/
.gt_about_bg{
	padding-bottom: 120px;
}
.title{
 	margin-bottom: 25px;
 	font-weight: 600;
 	text-transform: capitalize;
}
.gt_about_wrap p{
	margin-bottom: 15px;
}
.flip_container{
	perspective: 1000px;
	text-align: center;
}
.gt_flip_effect{
	position: relative;
	transform-style: preserve-3d;
}
.gt_about_icon,
.gt_icon_des{
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing:border-box;
	height: 140px;
	line-height: 140px;
}
.gt_about_icon{
	font-size: 50px;
	color: #fff;
}
.gt_icon_des > a{
	display: block;
	color: #fff;
	font-size: 18px;
}
.gt_about_icon{
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	background-color: #191919;
}
.gt_icon_des{
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.flip_container:hover .gt_flip_effect {
	transform: rotateY(180deg);
}
.gt_flip_effect,
.gt_about_icon,
.gt_icon_des{
	transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
}
.gt_about_img{
	float: left;
	width: 100%;
	margin-top:20px;
	position: relative;
}
.gt_about_img:before{
	content: "";
    position: absolute;
    top: 5px;
    bottom: 10px;
    right: 30px;
    left: 0px;
    border: 3px solid #2B5770;
    z-index: -1;
}
.gt_about_img img{
	width: 100%;
	height: auto;
}
/*
	  ==============================================================
		   Our Clients Wrap Start
	  ==============================================================
*/
.gt_brand_carousel {
	float: left;
	width: 100%;
	position: relative;
}
.gt_brand_outer_wrap {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
	border: 1px solid #edeef2;
}
.gt_brand_outer_wrap a {
	display: inline-block;
}
.gt_brand_outer_wrap a img {
	width: auto !important;
	height: auto;
}
/*Owl Carousel CSS*/
.gt_brand_carousel .item {
	float: left;
	margin: 0px 15px 0px 0px;
	width: 97%;
}
.gt_brand_carousel .owl-controls {
	display: none;
}
/*
	  ==============================================================
		   Progress Bar Wrap Start
	  ==============================================================
*/
.gt_skill_bg{
	padding-bottom: 40px;
	background-color: #f9f9f9;
}
.skill-content-3 {
	overflow: hidden;
	float: left;
	width: 100%;
	position: relative;
}
.skill .progress .lead {
	color: #444;
	font-size: 14px;
	font-weight: 600;
	left: 0;
	position: absolute;
	top: -30px;
	z-index: 99;
}
.skill .progress {
	background-color: #f0f0f0;
	border-radius: 0;
	box-shadow: none;
	height: 5px;
	margin: 30px 0 50px 0;
	overflow: visible;
	position: relative;
}
.skill .progress-bar > span {
	background: #333 none repeat scroll 0 0;
	float: right;
	font-size: 11px;
	margin-right: 10px;
	margin-top: -25px;
	position: relative;
	padding: 0 5px;
}
.skill .progress-bar > span:before,
.skill .progress-bar > span:after {
	border: medium solid transparent;
	content: " ";
	height: 0;
	position: absolute;
	top: 100%;
	width: 0;
}
.skill .progress-bar > span:before {
	border-top-color: #333;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}
.p_bg1{
	background-color: #cdcc34;
}
.p_bg2{
	background-color: #fe5722;
}
.p_bg3{
	background-color: #4252b2;
}
.p_bg4{
	background-color: #fcd901;
}
.p_bg5{
	background-color: #d002d2;
}
.p_bg6{
	background-color: #ff881f;
}
/*
	  ==============================================================
		   Comming Soon Wrap Style
	  ==============================================================
*/
.gt_comming_soon_bg {
	background-image: url(images/comming-soon-bg.jpg);
	position: relative;
	float: left;
	width: 100%;
}
.gt_commming_soon{
	text-align: center;
	padding: 60px 30px;
}
.gt_commming_soon h2{
	font-size: 80px;
	color: #fff;
	text-transform: uppercase;
	line-height: normal;
}
.gt_commming_soon > p{
	color: #fff;
	font-size: 16px;
	margin: 0px 0px 40px;
}
.gt_commming_soon ul.countdown {
	float: left;
	width: 100%;
	margin: 0px 0px 30px;
}
.gt_commming_soon ul.countdown li {
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 10;
	margin: 0px 0px 20px 50px;
	font-family: 'Roboto Slab', serif;
}
.gt_commming_soon ul.countdown li:first-child{
	margin-left: 0px;
}
.gt_commming_soon ul.countdown li:first-child > span {
	margin-left: 0px;
}
.gt_commming_soon ul.countdown li:first-child > span {
	border-bottom: 3px solid #f74c1e;
}
.gt_commming_soon ul.countdown li:nth-child(2) > span {
	border-bottom: 3px solid #008dd2;
}
.gt_commming_soon ul.countdown li:nth-child(3) > span {
	border-bottom: 3px solid #fc0019;
}
.gt_commming_soon ul.countdown li:nth-child(4) > span {
	border-bottom: 3px solid #2B5770;
}
.gt_commming_soon ul.countdown li > span {
	width: 150px;
	height: 150px;
	display: inline-block;
	color: #fff;
	line-height: 150px;
	font-weight: 500;
	font-size: 50px;
	margin: 0px 0px 20px;
	position: relative;
	background-color: rgba(0,0,0,0.3);
}
.gt_commming_soon ul.countdown li p {
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}
.gt_comming_soon_form{
	width: 760px;
	float: none;
	margin: auto;
}
.gt_comming_soon_field {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.gt_comming_soon_field input[type="text"] {
	width: calc(100% - 183px);
	background-color: rgba(0,0,0,0.3);
	border: 0px;
	height: 56px;
	padding: 8px 15px 8px 15px;
	margin-right: 15px;
	float: left;
}
.gt_comming_soon_field input[type="submit"], .gt_comming_soon_field button {
	font-size: 18px;
	float: right;
	height: 54px;
	border: 0px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	padding: 0px 30px;
	font-weight: 500;
	background: none;
	border: 1px solid;
}
.gt_comming_soon_field input[type="submit"]:hover,
.gt_comming_soon_field button:hover{
	color: #fff;
}
.gt_comming_scl_wrap{
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.gt_comming_scl_wrap ul{
	float: left;
	width: 100%;
	margin: 0px 0px 50px;
}
.gt_comming_scl_wrap ul li{
	display: inline-block;
	position: relative;
	margin-left: -4px;
}
.gt_comming_scl_wrap ul li a{
	display: block;
	color: #fff;
	width: 45px;
	height: 40px;
	line-height: 40px;
}
.gt_comming_scl_wrap ul li:hover a{
	background-color: #222;
}
.gt_comming_scl_wrap p{
	color: #fff;
}
.gt_comming_scl_wrap p a{
	font-family: 'Source Sans Pro', sans-serif;
}
/*
	  ==============================================================
		   404 Page Wrap Style
	  ==============================================================
*/
.page_404_margin footer{
	margin: 0px;
}
.gt_404_outer_wrap{
	padding-top: 70px;
}
.gt_404_text_outer_wrap{
	margin-top: 40px;
}
.gt_404_text{
	text-align: center;
}
.gt_404_text h2{
	display: inline-block;
	font-size: 300px;
	line-height: 240px;
}
.gt_404_text img{
	display: inline-block;
	width: 190px;
	height: auto;
	position: relative;
	top: -100px;
}
.gt_404_text p{
	font-family: 'Roboto Slab', serif;
	color: #323333;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.gt_404_text a{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 25px;
	position: relative;
	font-weight: 600;
}
.gt_404_text a:hover{
	background-color: #222
}
.gt_404_img img{
	width: auto;
	height: auto;
}
/*
	  ==============================================================
		   Contact Us Page Wrap Style
	  ==============================================================
*/
.gt_c_bg{
	padding-bottom: 110px;
}
.gt_contact_info_outer_wrap {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 60px;
}
.gt_contact_info_element_wrap {
	float: left;
	width: 100%;
	position: relative;
	padding: 60px 40px;
	text-align: center;
	background-color: #f8f8f8;
	min-height: 275px;
}
.gt_contact_info_element_wrap > i {
	font-size: 50px;
	color: #191919;
	margin: 0px 0px 20px;
}
.gt_contact_info_element_wrap h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #191919;
	margin: 0px 0px 14px;.
}
.gt_contact_info_element_wrap p {
	margin: 0px;
	font-size: 16px;
	color: #666666;
}
.gt_contact_info_element_wrap > a {
	display: inline-block;
	color: #666;
	font-size: 16px;
}
/*Hover CSS*/
.gt_contact_info_element_wrap.active /*.gt_contact_info_element_wrap:hover*/{
	background-color: #f6f6f6;
}
.gt_contact_info_element_wrap:hover i,
.gt_contact_info_element_wrap:hover h5,
.gt_contact_info_element_wrap:hover p,
.gt_contact_info_element_wrap:hover a {
	color: #fff;
}
.gt_contact_info_element_wrap > a:hover {
	color: #333;
}
/*Map Css*/
.gt_contact_us_map{
	width: 100%;
	float: left;
	min-height: 450px;
	position: relative;
}
.gt_form_map{
	position: absolute;
	top: -2px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 1170px;
	padding: 42px 0px;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.09);
	background-color: #fff;
}
/*Form Wrap Css*/
.gt_contact_form {
	float: left;
	width: 100%;
	position: relative;
}
.gt_contact_us_field {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.gt_contact_us_field input[type="text"],
.gt_contact_us_field input[type="email"],
.gt_contact_us_field textarea {
	float: left;
	width: 100%;
	border: 1px solid rgba(127,127,127,0.21);
	border-radius: 2px;
	min-height: 48px;
	margin: 0 0 20px;
	padding: 8px 40px 8px 15px;
}
.gt_contact_us_field textarea {
	min-height: 185px;
	resize: none;
}
.gt_contact_us_field input[type="submit"],
.gt_contact_us_field button {
	text-align: center;
	border: 0px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 40px;
	border: 1px solid;
	background-color: transparent;
	font-size: 15px;
}
/*Hover Css*/
.gt_contact_us_field input[type="submit"]:hover,
.gt_contact_us_field button:hover {
	background-color: #333;
	color: #fff;
	border-color: #333;
}
#contact-form label.error {
	position: absolute;
	top: -16px;
	font-size: 11px;
	color: #a94442;
	left: 0px;
}
#quote-form label.error, #pop-quote-form label.error, #pop-quote-form2 label.error, #head-quote-form label.error {
	top: -14px;
	font-size: 11px;
	color: #a94442
}
input[aria-invalid="true"] {
	border-bottom: 2px solid #a94442 !important;
}
.gt_contact_form #contact-result .alert {
	padding: 10px 15px;
	font-size: 12px;
	margin-bottom: 0;float:left;
}
/*
	  ==============================================================
		   Pagination Wrap Css Start
	  ==============================================================
*/
.gt_pagination_outer_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.gt_pagination_outer_wrap ul {
	float: left;
	width: 100%;
	text-align: center;
}
.gt_pagination_outer_wrap ul li {
	position: relative;
	display: inline-block;
	margin: 0px -3px 0px 0px;
}
.gt_pagination_outer_wrap ul li a {
	display: block;
	width: 48px;
	height: 48px;
	border: 1px solid #f6f6f6;
	line-height: 48px;
	font-size: 18px;
	color: #585858;
	font-weight: 500;
}
.gt_pagination_outer_wrap ul li:first-child a,
.gt_pagination_outer_wrap ul li:last-child a {
	width: 70px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}
.gt_pagination_outer_wrap ul li.active a,
.gt_pagination_outer_wrap ul li:hover a{
	color: #fff;
}
/*
	  ==============================================================
		   Course Listing Wrap Css Start
	  ==============================================================
*/
.gt_crs_listng_img figure{
	width: 270px;
	margin: 0px;
}
.gt_course_listing_style{
	float: none;
	padding: 15px 0px 0px 0px;
	width: auto;
	overflow: hidden;
}
.gt_course_listing_style p{
	margin-bottom: 40px;
}
.gt_course_listing_style > span{
	margin-left: 10px;
	padding-left: 10px;
}
.gt_pop_cour .gt_course_listing_style li:first-child{
	width: 80%;
}
.gt_pop_cour .gt_course_listing_style li{
	width: 10%;
}
/*
	  ==============================================================
		   Course Detail Wrap Css Start
	  ==============================================================
*/
.gt_cd_outer_wrap{
	margin: 0px 0px 30px;
}
.gt_cd_outer_wrap figure{
	margin: 0px 0px 25px;
}
.gt_cd_outer_wrap figure img{
	width: 100%;
}
.ct_blog_detail_outer_wrap{
	float:left;
	width:100%;
	position:relative;	
}
.ct_blog_detail_top{
	float:left;
	width:80%;
	position:relative;
	margin:0px 0px 30px;	
}
.ct_blog_detail_top h5{
	margin:0px 0px 20px;
	color:#191919;
	font-weight: 600;
	text-transform:uppercase;
}
.ct_blog_detail_top > ul{
	float:left;
	width:100%;
}
.ct_blog_detail_top > ul > li{
	float:left;
	position:relative;
	border-right:1px solid #d5d5d5;
	padding-right:20px;
	margin-right:20px;
}
.ct_blog_detail_top > ul > li > span{
	color:#666666;
	display:block;
	line-height:normal;
	font-weight:600;
	font-size:13px;
	margin:0px 0px 3px;
}
.ct_blog_detail_top > ul > li h6{
	color:#191919;
	text-transform:capitalize;
	font-size: 13px;
	font-weight: 600;	
}
ul.gt_rating_start li{
	display: inline-block;
}
ul.gt_rating_start li a{
	display: inline-block;
	color: #eecf02;
}
.gt_course_price{
	float: right;
	width: 20%;
	text-align: center;
}
.gt_course_price span{
	display: block;
	font-size: 30px;
	margin: 0px 0px 5px;
}
.gt_course_price a{
	display: inline-block;
	padding: 8px 25px;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid;
	font-weight: 600;
}
.gt_course_price a:hover{
	color: #fff;
}
.gt_cd_outer_wrap p{
	width: 100%;
	clear: both;
}
.gt_cd_outer_wrap blockquote{
	margin-left: 50px;
	border-left: 4px solid;
	color: #666666;
	font-size: 16px;
	font-weight: 600;
	padding: 30px 20px;
	font-style: italic;
}
/*List Css*/
.gt_class_spec{
	border-bottom: 1px solid #dfe4e8;
}
.gt_class_spec ul{
	width: 100%;
	float: left;
}
.gt_class_spec ul li{
	display: inline-block;
	position: relative;
	width: 24%;
	margin: 0px 0px 30px;
}
.gt_class_spec ul li span{
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 52px;
	font-size: 30px;
	float: left;
	text-align: center;
}
.gt_class_spec ul li span i{display: inline-block;}
.cls_spec_des{
	float: none;
	padding: 0px 0px 0px 65px;
	width: auto;
}
.cls_spec_des p{
	color: #666666;
	margin: 0px 0px 5px;
}
.cls_spec_des h6{
	font-size: 13px;
	color: #191919;
	font-weight: bold;
}
/*
	  ==============================================================
		   Comment Wrap Css Start
	  ==============================================================
*/
.gt_detail_hdg h5 {
	margin: 0px 0px 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.gt_comment_list_wrap {
	float: left;
	width: 100%;
	position: relative;
	padding: 30px 0px 0px;
}
.gt_comment_list_wrap ul {
	float: left;
	width: 100%;
}
.gt_comment_list_wrap ul li {
	float: left;
	width: 100%;
	position: relative;
	padding: 25px 0 13px;
	border-bottom: 1px solid #f8f8f8;
}
.gt_comment_list_wrap > ul > li:first-child {
	padding-top: 0px;
}
.gt_comment_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.gt_comment_wrap figure {
	width: 90px;
	float: left;
	position: relative;
}
.gt_comment_wrap figure img {
	width: 100%;
	height: auto;
}
.gt_comment_des {
	float: none;
	width: auto;
	padding: 0px 0px 0px 110px;
}
.gt_comment_des h6 {
	display: inline-block;
}
.gt_comment_des h6 > a {
	display: inline-block;
	font-size: 16px;
	color: #191919;
	font-weight: 600;
}
.gt_comment_des > a {
	display: inline-block;
	float: right;
	font-size: 14px;
	font-weight: 600;
	color: #666;
	border: 1px solid #dfe4e8;
	padding: 4px 20px;
	position: relative;
}
.gt_comment_des > a:hover{
	color: #fff;
}
.gt_comment_des > a i {
	margin-right: 10px;
}
.gt_comment_date {
	float: left;
	width: 100%;
	position: relative;
	margin: 5px 0px;
}
.gt_comment_date span {
	color: #4c4c4c;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 15px;
	display: inline-block;
}
.gt_comment_date span i{
	margin-right: 8px;
}
.gt_comment_date span:first-of-type {
	margin-left: 0px;
}
/*Second Ul*/
.gt_comment_list_wrap ul ul {
	padding-left: 50px;
	margin: 0px;
	border-top: 1px solid #f8f8f8;
	margin-top: 10px;
}
.gt_comment_list_wrap ul ul li {
	border: 0px;
	padding-bottom: 0px;
}
/*
	  ==============================================================
		   Post Comment Wrap Css Start
	  ==============================================================
*/
.gt_post_comment_wrap {
	float: left;
	width: 100%;
	position: relative;
	padding: 25px 0px 0px;
}
.gt_commet_field {
	float: left;
	width: 100%;
	position: relative;
}
.gt_commet_field input[type="text"], .gt_commet_field input[type="email"] {
	width: 100%;
	height: 45px;
	border: 1px solid #d1d1d1;
	margin: 0px 0px 25px;
	padding: 8px 30px 8px 10px;
}
.gt_commet_field textarea {
	width: 100%;
	min-height: 210px;
	border: 1px solid #d1d1d1;
	padding: 8px 30px 8px 10px;
	margin: 0px 0px 25px;
}
.gt_commet_field input[type="submit"],
.gt_commet_field button {
	color: #fff;
	float: right;
	font-size: 16px;
	text-transform: uppercase;
	border: 0px;
	padding: 8px 40px 8px;
	font-weight: bold;
	background: none;
	color: #333;
	border: 2px solid #333;
}
/*Focus CSS*/
.gt_commet_field input[type="text"]:focus,
.gt_commet_field input[type="email"]:focus,
.gt_commet_field textarea:focus {
	box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.15);
}
.gt_commet_field input[type="submit"]:hover,
.gt_commet_field button:hover {
	color: #fff;
}
/*
	  ==============================================================
		   Event List Wrap Css Start
	  ==============================================================
*/
.gt_event_list_wrap{
	border-bottom: 1px solid #dfe4e8;
	padding: 0px 0px 30px;
}
.event_date{
	float: left;
	width: 16%;
	margin-right: 85px;
	position: relative;
}
.event_date:before{
	content: "";
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 0px;
	width: 1px;
	background-color: #dfe4e8;
}
.event_date .gt_news_date{
	margin: 0px;
}
.gt_event_des{
	float: left;
	width: 76%;
	padding: 20px 20px 10px;
	position: relative;
}
.gt_event_des:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(images/event-01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0;
}
.gt_event_des h5 > a{
	display: block;
	color: #191919;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 10px;
	position: relative;
}
.gt_event_des p{
	position: relative;
}
.gt_event_des .gt_comment_date{
	margin: 0px 0px 15px;
}
/*Hover css*/
.gt_event_des:hover h5 > a,
.gt_event_des:hover .gt_comment_date span,
.gt_event_des:hover .gt_comment_date span i,
.gt_event_des:hover p {
	color: #fff;
}
.gt_event_des:hover:before{
	opacity: 1;
}
/*
	  ==============================================================
		   Event Detail Wrap Css Start
	  ==============================================================
*/
.gt_e_detail_wrap{
	margin: 0px 0px 30px;
}
.gt_e_detail_wrap figure{
	width: 100%;
}
.gt_e_detail_wrap figure img{
	width: 100%;
	height: auto;
}
.event_detail_wrap{
	float: left;
	width: 70%;
	position: relative;
	margin: 30px 0px 40px;
}
.event_detail_wrap h5{
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.event_detail_wrap ul.countdown{
	float: left;
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;
}
.event_detail_wrap ul.countdown li{
	width: 25%;
	float: left;
}
.event_detail_wrap ul.countdown li span,
.event_detail_wrap ul.countdown li p{
	display: inline-block;
	text-transform: capitalize;
	font-weight: 500;
}
.event_detail_wrap ul.countdown li span{
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	width:65px;
}
.event_detail_wrap ul.countdown li p{
	font-size: 14px;
	color: #161616;
}
.event_list_detail{
	float: left;
	width: 28%;
	position: relative;
	background-color: #f8f8f8;
	margin: 0px 0px 0px 15px;
	z-index: 10;
}
.event_list_detail ul,
.event_list_detail ul li{
	float: left;
	width: 100%;
}
.event_list_detail ul li{
	border-bottom: 1px solid #e3e3e3;
	padding: 15px 20px;
}
.event_list_detail ul li:last-child{
	border-bottom: 0px;
}
.event_list_detail ul li i{
	float: left;
	width: 30px;
	font-size: 20px;
	text-align: center;
}
.event_list_detail .cls_spec_des{
	padding: 0px 0px 0px 40px;
}
.event_list_detail .cls_spec_des h6{
	margin-bottom: 3px;
}
.event_list_detail .cls_spec_des p{
	margin: 0px;
}
.event_list_detail ul li a{
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0px;
	font-size: 16px;
	border: 1px solid;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
}
.event_list_detail ul li a:hover{
	color: #fff;
}
.event_list_item h5{
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.event_list_item ul{
	width: 49%;
	float:left;
}
.event_list_item ul:first-of-type{
	margin-right: 15px;
}
.event_list_item ul li{
	width: 100%;
	position: relative;
	padding: 8px 0px 8px 20px;
}
.event_list_item ul li:before{
	content: "";
	position: absolute;
	top: 15px;
	left: 0px;
	width: 8px;
	height: 8px;
}
/*
	  ==============================================================
		   Event Detail Map Wrap Css Start
	  ==============================================================
*/
.gt_evnt_map{
	float: left;
	width: 100%;
	position: relative;
}
.gt_evnt_map .map-canvas{
	height: 350px;
	width: 100%;
}
/*
	  ==============================================================
		   News Detail Wrap Css Start
	  ==============================================================
*/
.gt_news_meta{
	margin: 0px 0px 25px;
}
.gt_news_meta h5{
	margin: 0px 0px 15px;
    color: #191919;
    font-weight: 600;
    text-transform: uppercase;
}
.gt_news_meta ul{
	float: left;
	width: 100%;
}
.gt_news_meta ul li{
	position: relative;
	padding: 0px 10px;
	color: #666666;
	display: inline-block;
}
.gt_news_meta ul li:first-child{
	padding-left: 0px;
}
.gt_news_meta ul li a{
	display: inline-block;
	color: #666666;
}
.gt_news_meta ul li i{
	margin-right: 5px;
}
.gt_news_tags{
	float: left;
	width: 100%;
	margin: 0px 0px 30px;
	border-bottom: 1px solid #dfe4e8;
	padding: 0px 0px 15px;
}
.gt_news_tags h5{
	color: #666666;
	font-size: 15px;
	display: inline-block;
}
.gt_news_tags h5 i{
	margin-right: 5px;
}
.gt_news_tags ul{
	float: right;
	width: auto;
}
.gt_news_tags ul li{
	display: inline-block;
	position: relative;
}
.gt_news_tags ul li a{
	display: block;
	color: #c0c0c0;
	font-size: 16px;
	padding: 0px 10px;
}
.gt_news_tags ul li:last-child a{
	margin-right: 0px;
}
/*
	  ==============================================================
		   Team Detail Wrap Css Start
	  ==============================================================
*/
.gt_bst_teacher.gt_team_detail_border{
	border: 1px solid #f9f9f9;
}
.gt_team_detail {
	float: left;
	width: 100%;
	position: relative;
	z-index: 10;
	margin: 0px 0px 30px;
}
.gt_team_detail > h5{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 0px 20px;
	font-weight: 600;
}
.gt_team_detail p{
	margin: 0px 0px 30px;
}
.skill-content-3 h5{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 0px 20px;
	font-weight: 600;
}
.gt_team_detail .skill-content-3,
.gt_team_detail .skill{
	float: left;
	width: 100%;
}
.team_detail_slider{
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.gt_team_img,
.gt_team_form{
	float: left;
	width: 100%;
	position: relative;
}
.gt_team_img:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.75);
	z-index: 1;
}
/*Carousel Css*/
.team_detail_slider .owl-stage-outer{
	margin: 0px 0px 20px;
	width: 80%;
    display: inline-block;
}
.team_detail_slider .owl-item .item{
	margin: 0px 10px;
    padding: 20px 0px;
    float: left;
    width: 70%;	
}
.team_detail_slider .owl-item.center{
	transform:scale(1.3,1.3);
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
}
.team_detail_slider .owl-item.center .gt_team_img:before{
	opacity: 0;
}
.team_detail_slider .owl-controls .owl-nav div{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 40%;
	border: 1px solid #222;
	text-align: center;
	line-height: 33px;
	color: #222;
	font-size: 18px;
}
.team_detail_slider .owl-controls .owl-nav div.owl-prev{
	left: -5px;
}
.team_detail_slider .owl-controls .owl-nav div.owl-next{
	right: 0px;
}
.team_detail_slider .owl-controls .owl-nav div:hover{
	color: #fff;
}
/*
	  ==============================================================
		   Team Detail Contact Wrap Css Start
	  ==============================================================
*/
.event_list_detail.gt_team_detail_contact{
	width: 100%;
	margin-left: 0px;
}
.event_list_detail.gt_team_detail_contact ul li i{
	font-size: 35px;
}
.gt_team_detail_contact .cls_spec_des{
	padding: 0px 0px 0px 60px;
}
/*
	  ==============================================================
		   Filterable Gallery Page Css Start
	  ==============================================================
*/
.gt_gallery_filter_bg #filterable-item-filter-1 {
    float: left;
    text-align: center;
    width: 100%;
	margin-bottom:40px;
}
.gt_gallery_filter_bg #filterable-item-filter-1  li {
    display: inline-block;
    margin: 0px 10px;
}
.gt_gallery_filter_bg #filterable-item-filter-1 a {
    display: block;
    padding: 8px 15px;
	font-size:14px;
	color:#252525;
	font-weight: bold;
	margin:0px;
	cursor:pointer;
	text-transform: uppercase;
	line-height: normal;
	border-bottom: 2px solid transparent;
}
.masoned {
	float: left;
	width: 100%;
	clear: both;
}
.edu_masonery_thumb{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position:relative;
}
.edu_masonery_thumb figure img{
	width:100%;
	height:auto;
}
.edu_masonery_thumb figure:before{
	content:"";
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	opacity:0;
}
.edu_masonery_thumb:hover figure:before{
	opacity:0.65;
}
.edu_masonery_thumb .masonry_icon {
    color: #fff;
    font-size: 24px;
    left: 0;
    margin: -14.5% auto 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}
.edu_masonery_thumb figure > a {
    border-radius: 100%;
    color: #fff;
    font-size: 31px;
    height: 50px;
    left: 0;
    line-height: 47px;
    margin: -37px auto 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 50px;
}
.edu_masonery_thumb:hover figure > a{
	opacity:1;
}
.edu_masonery_thumb figure figcaption{
	position: absolute;
	left: 0;
	right:0;
	bottom: -50%;
	text-align: center;
}
.edu_masonery_thumb:hover figure figcaption{
	bottom:0;
}
.edu_masonery_thumb figure figcaption a{
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding: 20px 0px;
	font-family: 'Roboto Slab', serif;
}
.edu_masonery_thumb figure > a:hover{
	color: #222;
}
/*
	  ==============================================================
		   Sub Banner CSS
	  ==============================================================
*/
.gt_sub_banner_bg{
	background-image: url(images/sub-banner-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.gt_sub_banner_bg:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(24,31,17,0.89);
}
.gt_sub_banner_hdg{
	text-align: center;
	padding: 80px 0px;
}
.gt_sub_banner_hdg h3{
	font-size: 36px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.gt_sub_banner_hdg ul li{
	display: inline-block;
	position: relative;
}
.gt_sub_banner_hdg ul li:before{
	content: "\f105";
	position: absolute;
	font-family: fontawesome;
	top: 1px;
	left: -2px;
	width: auto;
	height: auto;
	color: #fff;
}
.gt_sub_banner_hdg ul li:first-child:before{
	display: none;
}
.gt_sub_banner_hdg ul li a{
	display: block;
	color: #fff;
	padding: 0px 12px;
}
/*
	  ==============================================================
		  Back to Top Style
	  ==============================================================
*/
.back-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.back-to-top a {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;
}
.back-to-top:hover {
	background-color: #333;
}
/*
	  ==============================================================
		  Index Static Background Style
	  ==============================================================
*/
.index_static,
.slide_video{
	text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
}
.slide_video{
    background: transparent !important;
}
.slide_video .gt_banner_text h3,
.slide_video .gt_banner_text h3{
	color: #fff;
}
.slide_video .gt_banner_text a{
	color: #fff;border-color: #fff;
}
/*
	  ==============================================================
		  Apply POP UP Form Style
	  ==============================================================
*/
.gt_pf_outer_wrap{
	background-color: #fff;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2)
}
.gt_pf_form{
	padding: 40px 0px;
}
.gt_pf_form h3{
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 30px;
}
.gt_pf_form form input[type="text"],
.gt_pf_form form input[type="email"]{
	width: 100%;
	border-bottom: 1px solid #cbcbcb;
	height: 56px;
	vertical-align: middle;
	display: inline-block;
	margin: 0px 0px 30px;
	color: #cbcbcb;
}
.gt_pf_form form select{
	border-bottom: 1px solid #cbcbcb;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	height: 56px;
	color: #cbcbcb;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
.gt_pf_form_img{
	background-image: url(images/popup-form-img.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100% 0px;
	text-align: center;
}
.gt_pf_form_img:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.gt_pf_form_img a{
	position: relative;
	z-index: 2;
}
/*
	  ==============================================================
		  Sticky Menu Form Style
	  ==============================================================
*/
.gt_sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 2px 15px 4px rgba(0,0,0,0.12);
}
.gt_sticky .gt-logo{
	padding: 5px 0px;
}
.gt_sticky .gt_hdr3_navigation > ul > li > a{
	padding: 25px 25px;
}
/*
	  ==============================================================
		  One Page Style
	  ==============================================================
*/
.gt_contactus_bg{
	background-color: #f5f5f5;
}
.gt_hdr3_navigation ul li a.current:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}
.gt_hdr3_navigation ul li a.current:before{
	z-index: -1;
}
.gt_hdr3_navigation ul li a.current:before{
	height: 100%;
}
.gt_hdr3_navigation > ul > li > a.current{
	color: #fff;
}
/*
	  ==============================================================
		  Home 02 Services Style
	  ==============================================================
*/
.gt_home2_services .gt_main_services{
	overflow: hidden;
}
.gt_home2_services .gt_main_services:before{
	background-color: rgba(255, 255, 255, 0.8);
    content: "";
    height: 200%;
    left: 140%;
    position: absolute;
    top: 0;
    transform: rotate(37deg);
    -moz-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    width: 220%;
    z-index: 10;
}
.gt_home2_services .gt_main_services:hover:before{
	background-color: rgba(255,255,255,0.15);
	left:-135%;
}
/*
	  ============================================================
		  What We Offer Wrap Start
	  ============================================================
*/
.gt_offer_bg{
	padding-bottom: 40px;
}
.gt_offer_love_wrap{
	width: 100%;
	float: left;
	position: relative;
}
.gt_offer_love_wrap .gt_wht_offer_wrap > i{
	float: right;
}
.gt_offer_love_wrap .gt_wht_offer_des{
	padding: 0px 85px 0px 0px;
	text-align: right;
}
/*
	  ==============================================================
		  Shop Detail Page Style
	  ==============================================================
*/
.gt_shop_detail_bg {
	padding-bottom: 40px;
}
.gt_product_detail_border_wrap {
	border-bottom: 1px solid #dddddd;
	padding: 0px 0px 25px;
	margin: 0px 0px 35px;
}
.gt_product_detail_border_wrap, .gt_shop_slider_outer_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.shop_detail_thumnail {
	float: left;
	width: 20%;
	margin: 0px 20px 0px 0px;
	position: relative;
}
.shop_detaild_slider {
	float: left;
	width: 76%;
	position: relative;
}
.shop_detail_thumnail ul.slides, .shop_detaild_slider ul.slides {
	float: left;
	width: 100%;
}
.shop_detail_thumnail ul li {
	float: left;
	width: 100%;
	border: 1px solid #d9d9d9;
	text-align: center;
	margin-bottom: 22px;
}
.shop_detaild_slider ul li {
	float: left;
	width: 100%;
	border: 1px solid #d9d9d9;
	text-align: center;
}
/*Slider Des Wrap css*/
.gt_shop_detail_banner, .gt_shop_rating_wrap, .gt_shop_price_wrap, .gt_product_detail_des, .gt_product_left_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.gt_shop_detail_banner > h4 {
	font-size: 24px;
	font-weight: 600;
	margin: 0px 0px 6px;
	text-transform: uppercase;
}
.gt_shop_rating_wrap {
	margin: 0px 0px 6px;
}
.gt_shop_rating_wrap ul {
	float: left;
	width: auto;
}
.gt_shop_rating_wrap ul li {
	display: inline-block;
	position: relative;
}
.gt_shop_rating_wrap ul li a {
	display: block;
}
.gt_shop_rating_wrap > span {
	display: inline-block;
	color: #000;
	font-weight: 600;
	margin-left: 20px;
}
.gt_shop_price_wrap {
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 1px solid #dddddd;
}
.gt_shop_price_wrap > h4 {
	font-size: 24px;
	display: inline-block;
	font-weight: 600;
}
.gt_shop_price_wrap > span {
	display: inline-block;
	text-decoration: line-through;
	font-weight: 600;
	color: #666666;
	margin-left: 25px;
	font-size: 20px;
}
.gt_product_detail_des {
	padding-bottom: 6px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
}
.gt_product_detail_des > h5 {
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.gt_product_left_wrap {
	margin: 0px 0px 20px;
	padding: 0px 0px 20px;
	border-bottom: 1px solid #dddddd;
}
.gt_product_left_wrap > h6 {
	color: #666666;
	font-size: 16px;
	font-weight: 500;
	margin: 0px 0px 15px;
}
.gt_product_left_wrap span {
	color: #666666;
	font-size: 16px;
	font-weight: 500;
	margin: 0px 0px 10px;
	display: inline-block;
	float: left;
	padding: 11px 0px 0px;
}
.gt_product_left_wrap #incdec {
	float: left;
	width: auto;
	position: relative;
	margin-left: 70px;
}
.gt_product_left_wrap #incdec input[type="text"] {
	width: 47px;
	height: 47px;
	border: 1px solid #d9d9d9;
	text-align: center;
}
.gt_product_left_wrap .gt_increment button {
	width: 40px;
	height: 47px;
	position: absolute;
	background: none;
	border: 1px solid #d9d9d9;
	top: 0px;
}
.gt_product_left_wrap .gt_increment button#up {
	left: -39px;
}
.gt_product_left_wrap .gt_increment button#down {
	right: -39px;
}
.gt_increment button:hover {
	color: #fff;
}
.gt_product_button_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.gt_product_button_wrap button {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 0px;
	min-width: 190px;
	background-color: #333;
	display: inline-block;
	margin: 0px 10px 0px 0px;
}
/*Tab Link Wrap css*/
.gt_shop_tab_outer_wrap, .gt_shop_tab_link, .gt_shop_tab_des, .tab-content {
	float: left;
	width: 100%;
	position: relative;
}
.gt_shop_tab_link {
	border-bottom: 1px solid;
}
.gt_shop_tab_link ul {
	float: left;
	width: 100%;
}
.gt_shop_tab_link ul li {
	display: inline-block;
	position: relative;
	width: 18%;
}
.gt_shop_tab_link ul li a {
	display: block;
	color: #666666;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	padding: 8px 0px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.gt_shop_tab_link ul li.active a, .gt_shop_tab_link ul li:hover a {
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}
.gt_shop_tab_des {
	padding: 25px 0px 0px;
}
.gt_shop_tab_des ul {
	float: left;
	width: 100%;
	margin: 0px 0px 15px;
}
.gt_shop_tab_des ul li {
	width: 100%;
	float: left;
	position: relative;
	color: #666666;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0px 0px 10px;
}
.gt_shop_tab_des ul li:before {
	content: ":";
	position: absolute;
	top: 0px;
	left: 18%;
	width: auto;
	height: 100%;
	color: #666666;
	font-weight: bold;
}
.gt_product_name {
	float: left;
	width: 20%;
	position: relative;
}
.gt_product_name_des {
	float: left;
	width: 70%;
	position: relative;
}

/*
	  ==============================================================
		   Product List Wrap Start
	  ==============================================================
*/

.gt_product_bg {
	padding-bottom: 40px;
}
.gt_product_outer_wrap {
	float: left;
	width: 100%;
	position: relative;
	border: 1px solid #d4d4d4;
	background-color: #e9e9e9;
	overflow: hidden;
	margin: 0px 0px 30px;
}
.gt_product_outer_wrap figure img {
	width: auto;
	height: auto;
}
.gt_product_img_des {
	width: 100%;
	top: 50%;
	margin: -75px 0px 0px;
	text-align: center;
	position: absolute;
	left: 0px;
	padding: 5px 15px;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
}
.gt_product_img_des p {
	color: #fff;
}
ul.gt_product_ui_element {
	float: left;
	width: 100%;
}
ul.gt_product_ui_element li {
	position: relative;
	display: inline-block;
	margin: 0px 8px;
}
ul.gt_product_ui_element li a {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 30px;
	border: 2px solid;
	color: #fff;
	border-radius: 2px;
}
.gt_product_des_wrap {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 20px 15px;
	background-color: #fff;
}
.gt_product_des_wrap > span {
	color: #212121;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0px 8px;
	display: block;
}
.gt_product_des_wrap h5 > a {
	display: block;
	text-transform: uppercase;
	margin: 0px 0px 6px;
	font-weight: 600;
}
ul.gt_rating_start {
	float: left;
	width: 100%;
}
ul.gt_rating_start li {
	display: inline-block;
	position: relative;
}
ul.gt_rating_start li a {
	display: inline-block;
}
.gt_product_des_wrap p {
	margin: 0px;
	color: #212121;
	font-size: 18px;
	font-weight: 600;
}
/*Hover CSS*/
.gt_product_outer_wrap:hover .gt_overlay_wrap, .gt_product_outer_wrap:hover .gt_product_img_des {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}
/*
	  ==============================================================
		   Product List Style 2 Wrap Start
	  ==============================================================
*/
.gt_product_outer_wrap.gt_shop_style_2_wrap {
	background-color: #fff;
}
.gt_shop_style_2_wrap .gt_product_des_wrap p {
	margin: 0px 0px 6px;
}
.gt_cart_element_wrap {
	float: left;
	width: 100%;
	position: relative;
	border-top: 1px solid rgba(152,152,152,0.3);
}
.gt_cart_element_wrap a {
	border-left: 1px solid rgba(152,152,152,0.3);
	color: #666666;
	padding: 12px 0px;
	text-transform: uppercase;
	text-align: center;
	margin-left: -3px;
}
.gt_cart_element_wrap a:first-child {
	border-left: 0px;
}
.gt_retweet_link, .gt_whishlist {
	display: inline-block;
	width: 20%;
}
.gt_add_to_cart {
	display: inline-block;
	width: 60%;
}
/*Hover Css*/
.gt_cart_element_wrap a:hover {
	color: #fff;
}
/*
	  ==============================================================
		   New Ui Element Wrap Start
	  ==============================================================
*/
.top_navi_caption{
	float:right;
	padding-top:6px;
}
.top_navi_caption ul{
	margin:0px;
	float:left;
	padding:0px;
}
.top_navi_caption ul li{
	float:left;
	list-style:none;
	padding:0px 25px;
	border-right: 1px solid #f3f3f3;
}
.top_navi_caption li:last-child {
    border-right: medium none;
}
.top_navi_circal{
	float:left
}
.top_navi_circal a {
    border-radius: 100%;
    display:block;
    float: left;
    height: 45px;
    text-align: center;
    width: 45px;
	font-size:16px;
	color:#ffffff;
	line-height:45px;
	margin-right:10px;
}
.top_navi_circal a i{
	line-height:45px;	
}
.top_navi_code{
	float:left;
	text-align: left;
}
.top_navi_code h5{
	margin:0px;
	font-size:14px;
	font-weight:Semibold;
	color:#666666;
	margin-bottom:7px;
}
.top_navi_code span{
	display:inline-block;
	font-size:14px;
	font-style:Light;
	color:#666666;
}
/*
	  ============================================================
		   Select your Price and Plan Wrap Start
	  ============================================================
*/
.gt_price_plan_wrap{
	float:left;
	width:100%;
	position:relative;
	padding:30px;
	background-color:#fff;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;	
}
.border_right{
	border-right:1px solid #cccccc;
}
.gt_price_plan_wrap h6{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	padding:5px 10px;
	margin:0px 0px 25px;
	display:inline-block;	
}
.gt_price_plan_wrap > p{
	display:block;
	font-size:50px;
	font-weight:600;
	margin:0px 0px 10px;
	text-transform:uppercase;	
}
.gt_price_plan_wrap > p > span{
	display:inline-block;
	color:#333333;
	margin:0px 0px 0px 5px;
	display:inline-block;
	font-weight:bold;
	font-size:14px;	
}
.gt_price_plan_wrap > span{
	display:block;
	font-size:14px;
	font-weight:300;	
}
ul.gt_plan_offer_list{
	float:left;
	width:100%;
	margin:40px 0 50px;	
}
ul.gt_plan_offer_list li{
	display:inline-block;
	width:100%;
	position:relative;	
}
ul.gt_plan_offer_list li:before{
	content:"\f046";
	font-family:fontawesome;
	position:absolute;
	top:10px;
	left:0px;
	width:20px;
	height:100%;
	font-size:20px;
}
ul.gt_plan_offer_list li a{
	display:block;
	color:#636d77;
	text-transform:capitalize;
	padding:10px 0px 10px 35px;	
}
.gt_price_plan_wrap > a{
	width:100%;
	text-align:center;
	display:inline-block;
	color:#afadae;
	font-weight:600;
	text-transform:uppercase;
	border:1px solid #dddddd;
	padding:9px 25px 9px;	
}
/*Hover CSS*/
.gt_price_plan_wrap > a:hover{color: #fff;}
.gt_price_plan_wrap.active,
.gt_price_plan_wrap:hover{
	box-shadow:0 0 25px 5px rgba(0, 0, 0, 0.15);
	z-index:1;	
}
/*
	  ============================================================
		   Select your Price and Plan Wrap End
	  ============================================================
*/


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yqp5qv');
  src:  url('fonts/icomoon.eot?yqp5qv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yqp5qv') format('truetype'),
    url('fonts/icomoon.woff?yqp5qv') format('woff'),
    url('fonts/icomoon.svg?yqp5qv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-android:before {
  content: "\eac0";
}
.icon-pinterest:before {
  content: "\ead1";
}

.social {
  position: fixed;
  right: 0;
  top: 320px;
  z-index: 2000;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 20px 25px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.social ul li .icon-facebook {background:#2C4585;}
.social ul li .icon-twitter {background:#52CBFF;}
.social ul li .icon-instagram {background:#FE6A37;}
.social ul li .icon-youtube {background:#FF0000;}
.social ul li .icon-pinterest {background:#CB2C29;}
.social ul li .icon-whatsapp {background:#3CE33B;}
.social ul li .icon-android {background:#74CB00;}


.social ul li a:hover {
 
  background: #000;
}
